{
  "extends": ["eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "jasmine": true,
    "jest": true
  },
  "rules": {
  }
}
